name: ci

on:
  push:
  pull_request:

jobs:
  build-teensy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Install PlatformIO
        run: pip install platformio
      - name: Build firmware
        run: pio run -d firmware -e teensy40
